*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    border-radius: 0%;


}
.body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: fixed;
    
}
header {
    background-color:blue;
    color: #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 0px;

}
nav{
    text-align: center;
    background: fixed;
    padding: 10px 0;
}
nav a{
    color: #8c4ee8;
    margin: 20px ;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
    font-size:30px ;

}  
.header {
    background-color:blue;
    color: #000;
    text-align: center;
    padding: 10px 0;
    border-radius: 0px;

}
.about{
    text-align: center; 
    font-weight: bolder;
}
.about img{
   width: 50%;
   height: 150px;
   object-fit: block;
   margin: 0 auto;
   display: block;
}
.about p{
    width: 60%;
    margin: 0 auto;
    font-weight: 500;
}
.hero{
display: flex;
}
section ,.hero{
    padding: 25px;
    margin-top: 10px;
      background-image: url(images/BK.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.left,.h2{
    color: #5c4db1;
    margin-top: 15px;
    padding: auto;
    font-weight: 600;
}
.left,p{
    color: #000;
}
.left, img{
    width: 50%;
    margin: 10px;
    border-radius:70%;
}
.right{
    margin: 0;
}
.right,h3{
    color: #000;
    text-align: center;
 }
.right,.img{
    width: 100%;
    margin-left: -50px;
    border-radius: 70%;

}
.last{
    text-align: center;
}
.last,h3{
    color]: #000;
    font-weight: 200;
    
}
h3{
    color: #444;
    margin-top: 15px;
}
.Mission, h3,.Vission ,h3,.values ,h3{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}
.cont{
    margin: 0px;
}
.Mission {
    width: 100%;
    text-align: center;
}
.Vission{
    width: 100% ;
text-align:left ;
}
.Vission,img{
    display: block;
    margin: 0px auto;
}
.values{
  margin-left: 50px; 
  text-align: right; 
}
ul{
    margin-top: 10px;

}
li{
    margin-bottom: 10px;
    justify-items: flex-start;
    margin-top: 20px;

}
img{
    display:block ;
    margin: 2px auto;
    max-width: 100%;
    border-radius: 10p;
}
section hero{
    
    text-align: justify;
    padding: 10px;
    color: black;
    font-size: 20px;

}
hero-text h3{
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

hero-tex span{
    color: #ff4081;
    font-weight: bold;
}
.hero h2{
    margin-top: 20px;
    font-size: 2rem;
    text-transform: uppercase;
}
.hero p {
    margin-top: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

div h2{
    color: #000;
    font-weight: bold;
    text-align: center;
}
img{
    width:600px;
    border-radius:30px;
    margin-top: 40px;
    
}
form{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
form input,form textarea{
    width: 30%;
    padding: 10px;
    margin: 10px 0;
}

.hero-image img{
    width: 200px;
    border-radius: 50% 20% 50% 20%;
}
.social{
    text-align: center;
    margin-top: 20px;
}
.social links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
form button:hover{
    background: #555;
    color: rgb(245, 214, 187);
}
footer{
    background-color:rgb(137, 134, 134);
    color:rgb(245, 222, 179);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
footer,.cot{
     background-color:rgb(137, 134, 134);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    color: antiquewhite;
}
@media(max-width:786px){
    .about,img{
        width: 25%;
    }
    .Mission{
        padding: 15PX;
        max-width: 100%;
    }
    h1,h2 {
        font-size: 1.5rem;
    p{
        font-size:1.5rem;
    }
}
@media( max-width: 480px){
    h1,h2{
        font-size: 1.2rem;
    }
    p{
        font-size:0.9em;
    }
    .about,img{
        border-radius: 10px;
    }
     .Mission{
        padding: 10PX;
        max-width: 40%;
    }
}


    
